@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
	--font-family-base: 'Inter', sans-serif;
	--c-brand: #d24339;
	--c-brand-light: #ef584e;
	/* --c-divider: #ffffff1f; */
	--sidebar-size: 18rem;
}

.page .container {
	padding: 0 2rem 4rem;
	max-width: 60rem;
}

.next-and-prev-link .container {
	border-top: none;
}

/* hide */
.nav-bar .nav-links > .item:last-child,
.examples .page-footer,
.examples .next-and-prev-link {
	display: none;
}

/* examples */
.examples .container {
	padding: 0;
	max-width: none;
}

.examples .content > div {
	position: fixed;
	padding: 0;
	top: 3.6rem;
	right: 0;
	bottom: 0;
	left: 0;
}

.examples .content > div canvas {
	display: block;
}

.btn-src {
	position: fixed;
	bottom: 16px;
	right: 16px;
	padding: 12px;
	border-radius: 50%;
	margin-bottom: 0px;
	background-color: #FFF;
	opacity: .9;
	z-index: 999;
	box-shadow: 0 0 4px rgb(0 0 0 / 15%);
}

.btn-src img {
	display: block;
	width: 20px;
}

/* tweakpane */
.tp-dfwv {
  margin-top: var(--header-height);
}

/* sidebar */
@media (min-width: 720px) {
  .theme .page {
		margin-left: var(--sidebar-size);
  }
  .theme .sidebar {
    width: var(--sidebar-size);
  }
	.examples .content > div {
		left: var(--sidebar-size);
	}
}
